html {
	display: inline-block;
	justify-content: center;
	text-align: center;
	padding: 5px;
}

body {
	background-color: #1D201F;
	font-family: monospace;
	color: #EAD2AC;
}

/** scrollbar */
/** chrome, safari, opera */
body::-webkit-scrollbar {
	display: none;
}
/** firefox, edge, ie (lmao) */
body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/** banner */
.banner {
	/** background */
	background-image: url("../img/spread.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	/** size */
	height: 30%;
	width: 100%;
}

.status {
	/** text */
	color: #D1DEDE;
	font-size: 72px;
	text-shadow: 0 0 2px #0D211F;

	/** positioning */
	padding-top: 2%;
}

/** source */
.source {
	padding-bottom: 2%;
}

.source a {
	/** color */
	background-color: #0D211F;
	text-shadow: 0 0 2px #0D211F;
	color: #C58882;

	/** text */
	text-decoration: none;
	font-size: 18px;

	/** "button" look */
	padding-left: 2px;
	padding-right: 2px;

	border-radius: 2px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

.source a:hover {
	color: #DF928E;
	font-size: 150%;
}

/** FAQ */
.header {
	color: #D1DEDE;
	font-size: 24px;
}

.faq {
	font-size: 18px;
	padding: 2%;
}

.entry {
	list-style: none;
}

.question {
	color: #D1DEDE;
}

a {
	color: #DF928E
}
